@model Category
@{
    ViewData["Title"] = "Delete";
}

@* 

<div class="card">
    <div class="card-header  bg-secondary bg-gradient">
        <div class="text-center ">
            <h2 class="text-white py-2">Delete Category</h2>
        </div>
    </div>
    <div class="card-body">
        <form method="post" action="">
            <div class="p-3 mt-3">

                <div class="mb-3 form-floating">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-2 form-floating">
                    <input asp-for="Displayorder" disabled class="form-control border-0 shadow" />
                    <label asp-for="Displayorder" class="ms-2"></label>
                    <span asp-validation-for="Displayorder" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Catgeory" asp-action="Index" class="btn btn-outline-secondary border border-1 form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> *@



<div class="container my-5">
    <h4 class="fw-bold mb-4">Category Management</h4>
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title mb-4">Delete Category</h5>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label fw-semibold"></label>
                    <input disabled asp-for="Name" class="form-control" placeholder="Enter category name">
                    
                </div>
                <div class="mb-4">
                    <label asp-for="Displayorder" class="form-label fw-semibold">Description</label>
                    <input disabled asp-for="Displayorder" class="form-control" />

                </div>
                <button type="submit" class="btn btn-primary">Delete</button>
                <a asp-controller="Catgeory" asp-action="Index" class="btn btn-link">Back to List</a>
            </form>
        </div>
    </div>
</div>