@model int
@{
    ViewData["Title"] = "ConfirmationPage";
}

<div class=" container row">
    <div col-12 text-center>
        <h4 class="text-primary text-center mt-3">Thank You</h4>
        <img src=""/>
        <h2 class="text-dark text-center"> Your Order Completed Successfuly With Order id : @Model</h2>
    </div>
</div>

