@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Redirecting to payment...</title>
</head>
<body>

    <p>Redirecting to secure payment...</p>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe("pk_test_51SZEBjEPGdpnXztczovya6ENm5FHZnBpAEXycmd01zFjHrCb6i6AHcqBtkunzlXSwPIvLl31eGCuBzL7rhoaDB1F00wKSKbtBY");

        stripe.redirectToCheckout({
            sessionId: "@ViewBag.SessionId"
        });
    </script>

</body>
</html>
